server {
    server_name {{ libp2p_fqdn }};
    access_log /var/log/nginx/access.log mtail;

    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate /etc/nginx/certs/bootstrap.libp2p.io.crt;
    ssl_certificate_key /etc/nginx/certs/bootstrap.libp2p.io.key;
    ssl_dhparam /etc/nginx/certs/bootstrap.libp2p.io.dhparam.pem;
    ssl_trusted_certificate /etc/nginx/certs/bootstrap.libp2p.io.trustchain.crt;

    # HSTS (ngx_http_headers_module is required)
    # 31536000 seconds = 12 months, as advised by hstspreload.org
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;

    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
    add_header 'Access-Control-Allow-Headers' 'X-Requested-With, Range, Content-Range, X-Chunked-Output, X-Stream-Output' always;
    add_header 'Access-Control-Expose-Headers' 'Content-Range, X-Chunked-Output, X-Stream-Output' always;
    include /etc/nginx/sites-enabled/*.conf;
}