server {
    server_name node_exporter.local;
    access_log /var/log/nginx/access.log mtail;
    listen [{{ cjdns_identities[inventory_hostname].ipv6 }}]:9100;

    location / {
{% for hostname in cjdns_identities.keys() %}
        allow {{ cjdns_identities[hostname].ipv6 }};
{% endfor %}
{% for addr in metrics_allowlist %}
        allow {{ addr }};
{% endfor %}
        allow ::1;
        deny all;
        proxy_pass http://127.0.0.1:9100;
        proxy_set_header Host $host;
    }
}

server {
    server_name mtail.local;
    access_log /var/log/nginx/access.log mtail;
    listen [{{ cjdns_identities[inventory_hostname].ipv6 }}]:3903;

    location / {
{% for hostname in cjdns_identities.keys() %}
        allow {{ cjdns_identities[hostname].ipv6 }};
{% endfor %}
{% for addr in metrics_allowlist %}
        allow {{ addr }};
{% endfor %}
        allow ::1;
        deny all;
        proxy_pass http://127.0.0.1:3903;
        proxy_set_header Host $host;
    }
}
