[Unit]
Description=node_exporter: exports host-related metrics (CPU, RAM, IO, etc.) for scraping by prometheus.
Wants=network.target
After=network.target

[Service]
ProtectHome=read-only
ProtectSystem=true
SyslogIdentifier=node_exporter
ExecStart=/usr/bin/node_exporter --web.listen-address="127.0.0.1:9100" --collector.filesystem --collector.netdev --collector.cpu --collector.diskstats --collector.mdadm --collector.loadavg --collector.time --collector.uname --collector.logind
Restart=always
