---
global:
  scrape_interval:     15s
  scrape_timeout:      10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'gateway'
    metrics_path: '/debug/metrics/prometheus'
    static_configs:
{% for hostname in gateway_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:5001'
        labels:
          host: '{{ hostname }}'
          network: v04x
{% endfor %}

  - job_name: 'storage'
    metrics_path: '/debug/metrics/prometheus'
    static_configs:
{% for hostname in storage_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:5001'
        labels:
          host: '{{ hostname }}'
          network: v04x
{% endfor %}

  - job_name: 'mtail'
    metrics_path: '/metrics'
    static_configs:
{% for hostname in node_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:3903'
        labels:
          host: '{{ hostname }}'
{% endfor %}
    metric_relabel_configs:
      - source_labels: [prog]
        regex: .*
        action: replace
        target_label: prog
      - source_labels: [exported_instance]
        regex: .*
        action: replace
        target_label: exported_instance

  - job_name: 'host'
    metrics_path: '/metrics'
    static_configs:
{% for hostname in node_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:9100'
        labels:
          host: '{{ hostname }}'
{% endfor %}

  - job_name: 'blackbox'
    metrics_path: '/metrics'
    static_configs:
{% for hostname in node_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:9115'
        labels:
          host: '{{ hostname }}'
{% endfor %}
    metric_relabel_configs:
      - source_labels: [handler]
        regex: .*
        action: replace
        target_label: handler

  - job_name: 'prometheus'
    metrics_path: '/prometheus/metrics'
    static_configs:
{% for hostname in metrics_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:80'
        labels:
          host: '{{ hostname }}'
{% endfor %}

{% for src in probers %}
  - job_name: pages_{{src}}
    metrics_path: /probe
    params:
      module: []  # Look for a HTTP 200 response.
    static_configs:
      - targets:
        - prometheus.io   # Target to probe
    relabel_configs:
      - source_labels: [__address__]
        regex: (.*)(:80)?
        target_label: __param_target
        replacement: ${1}
      - source_labels: [__param_target]
        regex: (.*)
        target_label: instance
        replacement: ${1}
      - source_labels: []
        regex: .*
        target_label: __address__
        replacement: 127.0.0.1:9115  # Blackbox exporter.
}

{% for dest in gateway_targets %}
  - job_name: pages_ipfs_io_{{dest}}
    metrics_path: /probe
    params:
      module: [ipfs_io]
      target: [{{dest}}.i.ipfs.io]
    static_configs:
{% for src in probers %}
      - targets:
          - '[{{ cjdns_identities[src].ipv6 }}]:9115'
        labels:
          host: '{{dest}}'
          prober: '{{src}}'
          page: 'ipfs.io'
{% endfor %}
{% endfor %}

{% for dest in gateway_targets %}
  - job_name: pages_ipld_io_{{dest}}
    metrics_path: /probe
    params:
      module: [ipld_io]
      target: [{{dest}}.i.ipfs.io]
    static_configs:
{% for src in probers %}
      - targets:
          - '[{{ cjdns_identities[src].ipv6 }}]:9115'
        labels:
          host: '{{dest}}'
          prober: '{{src}}'
          page: 'ipld.io'
{% endfor %}
{% endfor %}

{% for dest in gateway_targets %}
  - job_name: pages_multiformats_io_{{dest}}
    metrics_path: /probe
    params:
      module: [multiformats_io]
      target: [{{dest}}.i.ipfs.io]
    static_configs:
{% for src in probers %}
      - targets:
          - '[{{ cjdns_identities[src].ipv6 }}]:9115'
        labels:
          host: '{{dest}}'
          prober: '{{src}}'
          page: 'multiformats.io'
{% endfor %}
{% endfor %}

  - job_name: 'watcher'
    metrics_path: '/metrics'
    static_configs:
      - targets:
          - 'mars.i.ipfs.team:9999'
        labels:
          host: mars
