{
    "privateKey": "{{ cjdns_identities[inventory_hostname].private_key }}",
    "admin": {
        "bind": "{{ cjdns_admin_address }}:{{ cjdns_admin_port }}",
        "password": "{{ cjdns_admin_password }}"
    },
    "interfaces": {
        "UDPInterface": [
{% for interface in cjdns_udp_interfaces %}
        {
            "bind": "{{ interface.bind }}",
            "connectTo": {
{% for peer in interface.peers %}
                "{{ peer.connect_to }}": {
                    "publicKey": "{{ peer.public_key }}",
                    "password": "{{ peer.password }}",
                    "peerName": "{{ peer.peer_name }}"
                },
{% endfor %}
            }
        },
{% endfor %}
        ]
    },
    "authorizedPasswords": [
{% for user in cjdns_authorized_passwords.keys() %}
        {
            "user": "{{ user }}",
            "password": "{{ cjdns_authorized_passwords[user] }}"
        },
{% endfor %}
    ],
    "router": {
        "interface": {
            "type": "TUNInterface",
            "tunDevice": "{{ cjdns_tun_interface }}"
        }
    },
    "security": [
        { "setuser": "nobody", "keepNetAdmin": 1 },
        { "chroot": "/var/run/" },
        { "nofiles": 0 },
        { "noforks": 1 },
        { "seccomp": 1 },
        { "setupComplete": 1 }
    ],
    "logging": {
        "logTo": "stdout"
    }
}
