---
global:
  scrape_interval:     15s
  scrape_timeout:      10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'gateway'
    metrics_path: '/debug/metrics/prometheus'
    target_groups:
{% for hostname in gateway_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:5001'
        labels:
          host: '{{ hostname }}'
{% endfor %}

  - job_name: 'storage'
    metrics_path: '/debug/metrics/prometheus'
    target_groups:
{% for hostname in storage_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:5001'
        labels:
          host: '{{ hostname }}'
{% endfor %}

  - job_name: 'host'
    metrics_path: '/metrics'
    target_groups:
{% for hostname in node_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:9100'
        labels:
          host: '{{ hostname }}'
{% endfor %}

  - job_name: 'prometheus'
    metrics_path: '/prometheus/metrics'
    target_groups:
{% for hostname in metrics_targets %}
      - targets:
          - '[{{ cjdns_identities[hostname].ipv6 }}]:80'
        labels:
          host: '{{ hostname }}'
{% endfor %}
