---
# root ssh keys deployed to each host
authorized_keys:
  - "ssh-ed25519 AAAACfoobar1234 some-name"

users:
  - name: alice
    uid: 1040
    home: /home/alice
    key: ssh-ed25519 AAAAndthepublickey

# the cryptographic and network identity of each host with the cjdns role
# each of them will also be allowed to access /debug on others.
cjdns_identities:
  some_inventory_hostname:
    private_key: the-cjdns-private-key
    ipv6: fc12::3456

# interfaces for incoming and outgoing UDP peering
# it's useful to add a comment with contact/location information for each peer
cjdns_udp_interfaces:
  - bind: [::]:54321
    peers:
      - connect_to: [1234::56]:65432
        public_key: the-peers-public-key.k
        password: the-password
        peer_name: the-human-readable-peer
  - bind: 0.0.0.0:54321
    peers:
      - connect_to: 1.2.3.4:65432
        public_key: the-peers-public-key.k
        password: the-password
        peer_name: the-human-readable-peer

# passwords for incoming peerings
cjdns_authorized_passwords:
  - jane: some-reasonably-strong-password

# additional hosts allowed to access /debug
metrics_allowlist:
  - fc65::4321

# output of `ipfs config Identity`, per inventory host
ipfs_identities:
  some_inventory_hostname:
    peer_id: Qmthepeerid
    private_key: the-ipfs-private-key
